form {
  float: left;
  height: auto;
  font: 14px Arial;
}

#tarefa {
    margin-top: 60px;
    margin-left: 25%;
    padding: 3%;
    border: 2px solid #D8D8D8;
    width: 100%;
}

#pessoal {
    margin-top: 60px;
    margin-left: 30%;
    padding: 2%;
    border: 2px solid #D8D8D8;
    width: 100%;
}

#dataPrevFim {
    margin-left: 30px;
}

#prioridade {
    margin-right: 23px;
}

label {
    margin-left: 0.7%;
}

legend {
  padding: 2%;
  width: 23%;
  background: #D8D8D8;
  border-radius: 5px;
  font: bold 12px Arial;
}

input, select {
  padding-right: 1%;
  padding-left: 1%;
  height: 35px;
  border: 1px solid #E8E8E8;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

textarea {
  border: 1px solid #D8D8D8 ;
}

#cancelar, #salvar {
  float: right;
  font:bold 15px Arial;
  color:#838383;
  background:#d3d4e8;
  border:4px solid #ffffff;
  text-align: center;
  text-shadow:0px 0px 0px #2e2d2e;
  box-shadow:0px 0px 1px #000000;
  cursor:pointer;
  width: 90px;
  height: 40px;
}

#salvar {
    margin-right: 15px;
}

#cancelar:hover, #salvar:hover{
    background: #deefff; /* Old browsers */
	background: -moz-linear-gradient(top, #deefff 0%, #98bede 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #deefff 0%,#98bede 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #deefff 0%,#98bede 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #deefff 0%,#98bede 100%); /* IE10+ */
	background: linear-gradient(to bottom, #deefff 0%,#98bede 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}