legend {
	background: #e8e8e8;
	font: bold 12px Arial;
	padding: 1%;
}

#tarefas {
	position: absolute;
	margin-top: 8%;
	margin-left: 2%;
	width: 60%;
        height: auto;
	border: 2px solid #e8e8e8;
}

span {
    font: bold 13px Arial;
    color:  #000000;
    margin-bottom: 5px;
}

b {
    font: bold 12px Arial;
    color:  #797e7e;
    margin-top: 1px;
}

#listaSubTarefas {
        float: right;
	position: absolute;
	width: 30%;
	margin-left: 880px;
	margin-top: 8.5%;
        height: auto;
        border: 2px solid #e8e8e8;
        clear: both;
}

#listaSubTarefas ul {
    margin-top: 10px;
    margin-left: -35px;
}

#listaSubTarefas li{
    	list-style: none;
	margin-bottom: 2%;
	width: 100%;
	height: 10.5%;
	border: 1px solid #e8e8e8;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
}

#listaSubTarefas li a{
	margin-top: 6%;
	margin-left: 85%;
	font: bold 12px Arial;
	color:#9fc3c3;
	text-decoration: none;
	background: none;
	border: none;
}

#listaSubTarefas li a:hover {
	color: #5B75DE;
}


#botaoCad {
  font:bold 15px Arial;
  color:#838383;
  background:#d3d4e8;
  border:4px solid #ffffff;
  text-shadow:0px 0px 0px #2e2d2e;
  box-shadow:0px 0px 1px #828282;
  cursor:pointer;
  padding: 0.6%;
  margin-bottom: 20px;
  width: 90px;
  float: right;
  text-align: center;
}

#botaoCad:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ebeded), to(#c4dddd));
  cursor: pointer;
}

#botaoCad a {
	text-decoration: none;
	color: gray;
}

#botaoCad a:active {
	text-decoration: none;
}

#icone {
    float: right;
}

#icones ul{
    margin-left: 340px;
    margin-top: -20px;
    margin-bottom: -10px;
    float: right;
}

#icones li {
    margin-right: 1px;
    display: inline;
    float: left;
}