#confMsg {
    margin-top: 50px;
    position: absolute;
}

#confMsg li {
    border-color: #eaeae9;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 3px;
    text-decoration: none;
    list-style: none;
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#ebf0e6)); 
    width: 150px;
    height: 30px;
    padding-top: 5px;
}

#confMsg li:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#e7eccf)); 
    cursor: pointer;
}

#confMsg a{
    text-decoration: none;
    margin-left: 10px;
    font: bold 15px Arial;
    color: gray;
}

fieldset {
    margin-top: 60px;
    margin-left: 25%;
    padding: 2%;
    border: 2px solid #D8D8D8;
    width: 60%;
}

legend {
  padding: 1%;
  background: #D8D8D8;
  font: bold 12px Arial;
}

#entrada {
    position: absolute;
    margin: 50px auto 0px 250px;
    border-right-color: #00F;
}

#email {
    width: auto;
    height: 40px;
    background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 47%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#fafafa), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#fafafa 47%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#fafafa 47%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#fafafa 47%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#fafafa 47%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ebf0e6;
}

#email li {
    padding: 4px;
    list-style: none;
    display: inline;
    font: 14px Arial;
}

#email li a{
    text-decoration: none;
}

#remover{
    float: right;
}

#visualizar{
    float: right;
}

.lida {
/*    background: #*/
}

#paginacao {
    margin-top: 500px;
    position: absolute;
    float: left;
    margin-left: 615px;
}

#botaoCad {
  font:bold 15px Arial;
  color:#838383;
  background:#d3d4e8;
  border:4px solid #ffffff;
  text-shadow:0px 0px 0px #2e2d2e;
  box-shadow:0px 0px 1px #828282;
  cursor:pointer;
  padding: 0.6%;
  float: right;
  margin-top: 400px;
  margin-right: 60px;
  margin-bottom: 20px;
  width: 90px;
  text-align: center;
}

#botaoCad:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ebeded), to(#c4dddd));
  cursor: pointer;
}

#botaoCad a {
	text-decoration: none;
	color: gray;
}

#botaoCad a:active {
	text-decoration: none;
}