#icones{
    margin-left: 400px;
    margin-top: -20px;
    margin-bottom: -10px;
    position: absolute;
}

#icones li {
    display: inline;
}

#tarefas ul {
    font: 15px Arial;
    color: #797e7e;
}

#tarefas li {
    list-style: none;
}

#tarefas {
    margin: 0 auto 10px auto;
    width: 50%;
    clear: both;
}

#tarefas a {
    text-decoration: none;
    
}

#tarefas p {
    margin-bottom: -15px;
}

fieldset {
        width: 88%;
	border: 2px solid #e8e8e8;
        margin-bottom: 20px;
}

legend {
	background: #e8e8e8;
	font: bold 12px Arial;
	color: black;
	padding: 2%;
}

#tarefas ul li ul {
	margin-top: 5%;
	margin-left: 72%;
        float: right;
}

#botaoCad {
  margin-top: 20px;
  margin-left: 87%;
  font:bold 15px Arial;
  color:#838383;
  background:#d3d4e8;
  border:4px solid #ffffff;
  text-shadow:0px 0px 0px #2e2d2e;
  box-shadow:0px 0px 1px #828282;
  cursor:pointer;
  padding: 0.6%;
  width: 90px;
}

#botaoCad:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ebeded), to(#c4dddd));
  cursor: pointer;
}

#botaoCad a {
	text-decoration: none;
	margin-left: 10%;
	color: gray;
}

#botaoCad a:active {
	text-decoration: none;
}

#paginacao {
    float: left;
    margin-left: 615px;
}

span {
    font: bold 13px Arial;
    color:  #000000;
    margin-bottom: 5px;
}

b {
    font: bold 12px Arial;
    color:  #797e7e;
    margin-top: 1px;
}