#tabelaUsuarios {
    position: absolute;
    border-collapse:collapse;
    background: #FFE9E8;
    left: 180px;
    margin-top: 80px;
}

#tabelaUsuarios, td, th {
    border:1px solid #C1CDC1;
    padding: 5px;
}

.odd {
    background: #FFFFFF;
}

tr th {
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
    font: 15px Arial;
    text-shadow: 0px 2px 3px #666;
    color: black;
    text-align: center;
    height: 30px;
}

td {
    text-align: center;
}

#id, #editar, #excluir, #estado {
    width: 60px;
}

#nome, #email {
  width: 200px;
}

#data, #telefone {
  width: 160px;
}

#cpf, #cidade {
  width: 170px;
}

#login1 {
    width: 170px;
}

#botaoCad {
    margin-top: 410px;
    margin-left: 77.5%;
    background:#d3d4e8;
    border:4px solid #ffffff;
    text-align: center;
    text-shadow:0px 0px 0px #2e2d2e;
    box-shadow:0px 0px 1px #000000;
    cursor:pointer;
    position: absolute;
    width: 90px;
    height: 40px;
}

#botaoCad:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#ebeded), to(#c4dddd)); 
    cursor: pointer;
}

#botaoCad a {
    text-decoration: none;
    font:bold 15px Arial;
    color:#838383;
    margin: 0 auto;
}

#paginacao {
    top: 510px;
    position: absolute;
    margin-left: 615px;
}